@font-face {
    font-family: 'Feather bold';
    src: url(../Documentación/feather-2-cufonfonts/feather_bold_by_typicalbro44_dee263c.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'FuenteBtnLogin';
    src: url(../Documentación/FuenteBtnLogin/nunito/Nunito-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

#fondo {
    background-color: #E8E8E8;
}

.logo {
    width: 145px;
    height: 82px;
    margin-top: -14px;
}

.btn-login {
    background-color: #00AFFE;
    color: #ecf6fd;
    font-family: "FuenteBtnLogin";
    width: 250px;
    height: 58px;
    font-size: 20px;
    margin-right: -12px;
    margin-top: -26px;
    border: 0px;
    padding: 0;
}

.btn-login:hover {
    background-color: #0b3864;
}

.nav {
    background-color: #fff;
    height: 58px;
}

.parrafo-1 {
    color: #00AFFE;
    font-size: 55px;
    font-family: 'Feather bold';
    line-height: 100%;
}

.parrafo-2 {
    color: #00AFFE;
    font-size: 21px;
    font-family: 'FuenteBtnLogin';
    line-height: 10%;
    margin-top: 30px;
}

.parrafo-3 {
    color: #00AFFE;
    font-size: 21px;
    font-family: 'FuenteBtnLogin';
    line-height: 60%;
}

.img-interfaz {
    width: 379px;
    height: 227px;
    margin-top: 70px;
    margin-left: 30px;
}

.aside {
    padding: 50px 0px 0px 70px;
}

#txtemail {
    width: 430px;
    margin-top: 50px;
    margin-left: 70px;

    border-style: solid;
    border: 10px;
    outline: none;
    font-size: 15px;
    font-family: 'FuenteBtnLogin';
}

#btnRegister {
    background-color: #00AFFE;
    border-color: #00AFFE;
    color: white;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'FuenteBtnLogin';
}

#btnRegister:hover {
    background-color: #0b3864;
}